h1 {
  color: white;
  margin: 0;
  letter-spacing: -0.5px;
  font-weight: 700;
  font-size: 3rem;
}
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  background-color: rgb(78, 174, 253);
  border: solid 1px rgb(251, 127, 255);
  border-radius: 1.4rem;
  box-shadow: -4px 1px 32px -5px rgba(0, 0, 0, 0.438);
  padding: 1rem 1.5rem;
}
